<!doctype html>
<html>
  <head>
    <title>Black Mustard Seed</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Black Mustard Seed</h1>
  </div>

  <img src="/images/mustard.jpg" />
    
    <div class="info"> 

    <p>
      Black mustard seeds are a type of small, round, and black colored seeds that come from the mustard plant, scientifically known as Brassica nigra. 
      They have a strong and pungent flavor and are often used in South Asian, 
      particularly Indian and Bengali, cuisine as a spice and condiment.
      Black mustard seeds are rich in various nutrients such as calcium, iron, magnesium, and manganese, as well as antioxidant compounds.
      In some cultures, black mustard seeds are also used for medicinal purposes, as they are believed to have anti-inflammatory and digestive benefits.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>