<!doctype html>
<html>
  <head>
    <title>Cardamom</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Cardamom</h1>
  </div>
  
    <img src="/images/cardamom.jpg" />

    
    <div class="info"> 

    <p>
      To make cardamom powder, the green or black cardamom pods are first harvested and dried. The outer shell is then removed to reveal the small, black seeds inside. 
      These seeds are ground into a fine powder using a spice grinder or mortar and pestle.
      Cardamom powder is often used in spice blends, such as garam masala, and is also used to flavor teas, coffees, and desserts. It has a strong, sweet, and floral flavor that pairs well with a variety of other spices and ingredients.
      Cardamom powder is widely available in grocery stores and online, and is often sold in small jars or packets.
    </p>

    </div>


  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>