<!doctype html>
<html>
  <head>
    <title>Chaat Masala</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Chaat Masala</h1>
  </div>

  <img src="/images/chaat_masala.jpg" />

    <div class="info"> 

    <p>
      Chaat masala is a spice blend commonly used in Indian cuisine, particularly in chaat dishes, 
      which are savory and spicy street food snacks. The blend typically includes a mix of tangy, 
      salty, and slightly sweet flavors, and is used to add a distinctive flavor to dishes.
      The exact ingredients in chaat masala can vary depending on the region and the recipe, 
      but it typically includes a mix of dried mango powder (amchur), cumin, coriander, black salt (kala namak), dried ginger, 
      chili powder, and sometimes additional spices such as fennel, mint, or cinnamon.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>