<!doctype html>
<html>
  <head>
    <title>Chana Masala</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <header>
      <img src="/images/logo2.png" alt="Logo" class="logo"/>
    <div class="title">
      <h1>Chana Masala</h1>
    </div>
  </header>
  <img src="/images/chana_masala.jpg" />
  <img src="/images/3star.png"  />
 
  
    
    <div class="origin"> 
      <p>
        Chana Masala is a popular vegetarian dish from the Indian subcontinent made with chickpeas cooked in a spiced tomato-based sauce. 
        It is a flavorful and protein-rich dish that is often served with rice or Indian flatbreads like naan or roti.
        Chana masala is a staple in many Indian households and is enjoyed by vegetarians and non-vegetarians alike.
    </p>
</div>
<div class="ingredients">
          <h3>For more information, please click on the ingredients</h3>
          <h2>Ingredients:</h2>
      <p>
          <ul>2 cups cooked <a href="chickpeas">Chickpeas</a> </ul>

          <ul>2 tbsp Vegetable Oil</ul>
      
          <ul>1 tsp <a href="cumin">Cumin Seeds</a></ul>
      
          <ul>1 large Onion, finely chopped</ul>
      
          <ul>1 tbsp <a href="ginger">Ginger Paste</a></ul>

          <ul>1 tbsp <a href="garlic">Garlic Paste</a> </ul>
          
          <ul>2-3 <a href="green_chili">Green Chilies</a> </ul>

          <ul>2 medium Tomatoes</ul>

          <ul>1 tsp <a href="turmeric">Turmeric Powder</a> </ul>

          <ul>1 tbsp <a href="coriander">Coriander Powder</a> </ul>

          <ul>1/2 tsp <a href="red_chili_powder">Red Chili Powder</a> </ul>

          <ul>1 tsp <a href="garam">Garam Masala Powder</a> </ul>

          <ul>Pinch of Fresh Coriander Leaves </ul>

          <ul>Salt to taste</ul>
          <br>

      </p>
</div>

<div class="instructions">
      <h2>Instructions:</h2>
      
      <p>
        <ol type="1">
        <li>Heat oil in a large pan over medium heat. Add cumin seeds and let them splutter. 
           </li>
           <br>

        <li>Add finely chopped onion and green chilies. Saute until the onion is golden brown. 
          Add ginger paste and garlic paste. Saute for a minute.
            </li>
            <br>

        <li>Add finely chopped tomatoes and cook until they are soft and mushy.
            </li>
            <br>

        <li>Add turmeric powder, coriander powder, cumin powder, and red chili powder. Mix well and cook for a minute.
          </li>
          <br>
    
        <li>Add cooked chickpeas and mix well.
          </li>
          <br>

        <li>Add salt to taste and 1/2 to 1 cup of water. Mix well and let the chana masala simmer for 10-15 minutes on medium heat.
          </li>
          <br>

        <li>Add garam masala powder and mix well.
          </li>
          <br>

        <li>Garnish with fresh coriander leaves.
          </li>
          <br>
          
      
      </ol><br>

    </p>
</div>

  </body>

  <footer>
    
    <button class="save" role="button">Save</button>
  </footer>

</html>
