<!doctype html>
<html>
  <head>
    <title>Chickpeas</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Chickpeas</h1>
  </div>

  <img src="/images/chickpeas.jpg" />

    <div class="info"> 

    <p>
        Chickpeas, also known as garbanzo beans, are a type of legume that are widely consumed around the world. 
        They have a nutty and slightly sweet flavor, and a firm texture. 
        Chickpeas are a good source of plant-based protein, dietary fibre, vitamins, and minerals. 
        They are a staple ingredient in many cuisines, particularly in the Middle East, North Africa, and South Asia. 
        When cooked, they can be used in a variety of recipes, such as hummus, falafel, chana masala, and salads.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>