<!doctype html>
<html>
  <head>
    <title>Coriander</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Coriander</h1>
  </div>

  <img src="/images/coriander.jpg" />

    <div class="info"> 

    <p>
      Coriander, also known as cilantro or Chinese parsley, is a herb that is commonly used in cooking. 
      Coriander powder is a spice made from ground coriander seeds. Coriander is an herb that is commonly used in many cuisines around the world, 
      and its seeds are often used as a spice in Indian, Middle Eastern, and Southeast Asian cuisine. 
      Coriander powder has a warm, citrusy, and slightly sweet flavor, and is a common ingredient in dishes such as curries, 
      stews, soups, and marinades. It is also used as a seasoning for meats, vegetables, and snacks such as popcorn and chips. 
      Coriander powder is a key ingredient in many spice blends, such as garam masala and curry powder. 
      In addition to its culinary uses, coriander powder is also used in traditional medicine for its potential health benefits, 
      which include improving digestion, reducing inflammation, and lowering cholesterol levels.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>

