<!doctype html>
<html>
  <head>
    <title>Cumin</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Cumin</h1>
  </div>

  <img src="/images/cumin.jpg" />

    <div class="info"> 

    <p>
      Cumin comes from the dried seed of the Cuminum cyminum plant, which is a member of the parsley family. 
      Cumin powder is a spice made from ground cumin seeds. Cumin is a flowering plant that is native to the Middle East and India, 
      and the seeds are commonly used as a spice in many cuisines around the world. Cumin powder has a warm, earthy, and slightly nutty flavor, 
      and is a common ingredient in dishes such as curries, stews, soups, and marinades. It is also used as a seasoning for meats, 
      vegetables, and snacks such as popcorn and chips. Cumin powder is a key ingredient in many spice blends, such as garam masala, 
      chili powder, and taco seasoning. In addition to its culinary uses, cumin powder is also used in traditional medicine for its potential 
      health benefits, which include aiding digestion, improving blood sugar control, and reducing inflammation.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>