<!doctype html>
<html>
  <head>
    <title>Bengali Firni</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <header>
      <img src="/images/logo2.png" alt="Logo" class="logo"/>
    <div class="title">
      <h1>Firni</h1>
    </div>
  </header>
  <img src="/images/firni.jpg" />
  <img src="/images/1star.png"  />
    
    <div class="origin"> 

    <p>
        Firni is a traditional dessert that is popular in the Indian subcontinent, 
        particularly in Bengal, Bangladesh, and Pakistan. 
        In Bengali culture, firni is often served as a sweet dish during iftar, the meal that breaks the fast during the month of Ramadan. 
        It is also served during other religious festivals like Durga Puja, Eid al-Fitr, and Diwali.
        The origins of firni can be traced back to the Mughal era, when rice-based desserts were popular in the royal courts. 
    </p>

    </div>
    <div class="ingredients">
      <h3>For more information, please click on the ingredients</h3>
          <h2>Ingredients:</h2>
      <p>
          <ul>1/2 cup <a href="rice">Ground Rice</a></ul>

          <ul>4 cups Whole Milk</ul>
      
          <ul>1/2 cup Sugar</ul>
      
          <ul>1/4 tsp <a href="cardamom">Cardamom Powder</a></ul>

          <ul>A few strands of <a href="saffron">Saffron</a></ul>

          <ul>Pistachio and Almonds for garnish</ul>

          <br>

      </p>

    </div>

    <div class="instructions">
      <h2>Instructions:</h2>
      
      <p>
        <ol type="1">
        <li>Soak the ground rice in water for 15-20 minutes. Drain the water and grind the rice to a fine powder. 
           </li>
           <br>

        <li>Heat the milk in a heavy-bottomed pan over medium heat.
            </li>
            <br>

        <li>Add the ground rice to the milk and stir continuously to prevent lumps from forming.
          Add the sugar, cardamom powder, and saffron to the pan and mix well.
            </li>
            <br>

        <li>Keep stirring until the firni thickens and reaches a pudding-like consistency. This should take about 20-25 minutes.
          </li>
          <br>

        <li>Once the firni is cooked, remove it from the heat and let it cool.
          Pour the firni into individual serving bowls and let it set in the refrigerator for at least an hour.
          </li>
          <br>

        <li>Garnish with chopped pistachios and almonds before serving.
          </li>
          
      
      </ol><br>

    </p>
  </div>

  </body>
  <footer>
    
    <button class="save" role="button">Save</button>
  </footer>
</html>