<!doctype html>
<html>
  <head>
    <title>Garam Masala</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Garam Masala</h1>
  </div>

  <img src="/images/garam.jpg" />

    <div class="info"> 

    <p>
      Garam masala is a spice blend that is commonly used in Indian, Pakistani, and Bangladeshi cuisines. 
      The name "garam masala" literally translates to "hot spice blend" in Hindi. 
      It is made up of a combination of ground spices, which can vary depending on the region and the cook, 
      but typically includes spices such as cinnamon, cardamom, cloves, cumin, and coriander. 
      Other possible ingredients include bay leaves, nutmeg, black pepper, and fennel seeds. 
      Garam masala is usually added towards the end of cooking or sprinkled over the top of a dish as a 
      finishing spice, and is used to add warmth, depth, and complexity of flavor to curries, stews, soups, 
      and other dishes. It can also be used as a rub for meats and vegetables before grilling or roasting.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>
