<!doctype html>
<html>
  <head>
    <title>Garlic</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Garlic Paste</h1>
  </div>

  <img src="/images/garlic.jpg" />

    <div class="info"> 

    <p>
      Garlic paste is a paste made by grinding fresh garlic cloves into a fine puree. 
      It is commonly used as a seasoning in cooking and can be found in many different cuisines 
      around the world. Garlic paste is often used in Indian, Middle Eastern, and Mediterranean cooking, 
      where it is added to dishes such as curries, marinades, dips, and spreads. It can also be used as a 
      substitute for fresh garlic in recipes, especially in cases where the garlic flavor needs to be more 
      evenly distributed throughout the dish. Garlic paste can be made at home by crushing garlic cloves 
      with a mortar and pestle or by using a food processor, and it can also be found pre-made in some 
      grocery stores and specialty food shops.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>
