<!doctype html>
<html>
  <head>
    <title>Ginger</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Ginger Paste</h1>
  </div>

  <img src="/images/ginger.jpg" />

    <div class="info"> 

    <p>
      Ginger paste is a paste made by grinding fresh ginger root into a fine puree. 
      Ginger is a root vegetable that is commonly used as a spice and flavoring agent in cooking, 
      and has a spicy, pungent flavor and aroma. Ginger paste is often used in Asian and Indian cuisines, 
      where it is added to dishes such as curries, marinades, stir-fries, and soups. It can also be used as 
      a substitute for fresh ginger in recipes, especially in cases where the ginger needs to be more evenly 
      distributed throughout the dish. Ginger paste can be made at home by peeling and grating fresh ginger, 
      then processing it in a food processor or blender until it forms a smooth paste. It can also be found 
      pre-made in some grocery stores and specialty food shops.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>
