<!doctype html>
<html>
  <head>
    <title>Green Chili</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Green Chili</h1>
  </div>

  <img src="/images/green.jpg" />

    <div class="info"> 

    <p>
      Green chili refers to fresh, unripe chili peppers that are green in color. 
      Chili peppers come in a wide range of shapes, sizes, and levels of heat, 
      and can be used in various cuisines around the world. Green chili peppers are 
      particularly popular in Mexican and Southwestern American cuisine, where they are 
      used in dishes such as chili verde, salsa verde, and green chili stew. They can also 
      be used in Indian and Thai cuisines, where they are used to add heat and flavor to curries, 
      soups, and stir-fries. Green chilies can be eaten raw or cooked, and can be roasted, grilled, 
      fried, or boiled. They can also be chopped or pureed to make sauces, salsas, and relishes. 
      The heat level of green chilies can vary widely, from mild and sweet to extremely hot and spicy.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>
