<!doctype html>
<html>
  <head>
    <title>Hilsha Fish</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Hilsha Fish</h1>
  </div>

  <img src="/images/hilsha.jpg" />

    <div class="info"> 

    <p>
      Hilsha fish, also known as ilish or hilsa, is a type of fish that is commonly found in the rivers of South Asia, 
      particularly in the Bay of Bengal. It is a popular and highly prized fish in Bangladesh, India, and other parts of South Asia, 
      and is considered to be a delicacy. Hilsha fish is known for its rich, oily flavor and tender, flaky texture. 
      It is typically prepared by marinating it in spices and then frying, grilling, or steaming it. 
      It is also used in traditional dishes such as curries and biryanis. 
      In Bangladesh, it is the national fish and is an important part of the country's culture and cuisine. 
      Due to its popularity, hilsha fish is sometimes subject to overfishing, 
      and efforts have been made to promote sustainable fishing practices to protect the species.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>
