<!doctype html>
<html>
  <head>
    <title>My Recipes</title>
  </head>
  <body>
    <h1>Recipes</h1>
    <p><a href="shorsheilish">Shorshe Ilish</a></p>
    <p><a href="chanamasala">Chana Masala</a></p>
    <p><a href="prawnbhuna">Prawn Bhuna</a></p>
    <p><a href="masalachaat">Masala Chaat</a></p>
    <p><a href="firni">Firni</a></p>
  </body>
</html>
