<!doctype html>
<html>
  <head>
    <title>Masala Chaat</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <header>
      <img src="/images/logo2.png" alt="Logo" class="logo"/>
    <div class="title">
      <h1>Masala Chaat</h1>
    </div>
  </header>

  <img src="/images/masala_chaat.jpg" />
  <img src="/images/3star.png" />
    
    <div class="origin"> 

      <p>
        Masala Chaat is believed to have originated in Northern India, 
        particularly in the regions of Uttar Pradesh and Delhi. 
        Masala chaat is a delicious and refreshing snack that can be enjoyed on its own or as part of a larger meal. 
        The combination of savory and tangy flavors,
        along with the juiciness of the pomegranate seeds, 
        makes for a truly satisfying dish.
    </p>

    </div>

    <div class="ingredients">
      <h3>For more information, please click on the ingredients</h3>
          <h2>Ingredients:</h2>
      <p>
          <ul>2 cups boiled <a href="chickpeas">Chickpeas</a> </ul>

          <ul>2 cups boiled and cubed Potatoes</ul>
      
          <ul>1 finely chopped Onion</ul>
      
          <ul>1 finely chopped Tomato</ul>
      
          <ul>1/2 cup finely chopped Fresh Coriander</ul>

          <ul>1/4 cup tbsp <a href="tamarind">Tamarind Chutney</a> </ul>
          
          <ul>1/4 cup tbsp <a href="chaat_masala">Chaat Masala</a> </ul>

          <ul>1/4 cup tbsp Pomegranate Seeds </ul>

          <ul>Salt to taste</ul>
          <br>

      </p>

    </div>

    <div class="instructions">
      <h2>Instructions:</h2>
      
      <p>
        <ol type="1">
        <li>In a large mixing bowl, combine the boiled and cubed potatoes, 
          boiled chickpeas, chopped onions, and chopped tomatoes. 
           </li>
           <br>

        <li>Add the tamarind chutney, mint chutney, and chaat masala to the bowl, 
          and mix everything together well.
            </li>
            <br>

        <li>Add salt to taste, and adjust the seasoning as needed.
            </li>
            <br>

        <li>Transfer the mixture to a serving dish or individual plates, 
          and top with pomegranate seeds. Garnish with fresh coriander leaves.
          </li>
          <br>
      
      </ol><br>

    </p>

  </div>
  </body>
  <footer>
    
    <button class="save" role="button">Save</button>
  </footer>
</html>
