<!doctype html>
<html>
  <head>
    <title>Mustard Oil</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Mustard Oil</h1>
  </div>

  <img src="/images/mustard_oil.jpg" />

    <div class="info"> 

    <p>
      Mustard oil is a type of vegetable oil that is extracted from the seeds of the mustard plant. 
      It is commonly used in cooking in many parts of the world, especially in India, Bangladesh, 
      and Pakistan. Mustard oil has a distinctive pungent flavor and a strong aroma, and is often 
      used in Indian and Bengali cuisine as a cooking medium, for pickling, and in various condiments 
      and chutneys. It is also used as a massage oil and in traditional medicine for its potential health 
      benefits, including improving circulation and relieving pain and inflammation. Mustard oil contains 
      high levels of erucic acid, which can be harmful in large amounts, so it is important to use it in 
      moderation and avoid heating it to high temperatures. In some countries, such as the United States 
      and Canada, the use of mustard oil in cooking is regulated due to its high erucic acid content.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>
