<!doctype html>
<html>
  <head>
    <title>Bengali Prawn Bhuna</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <header>
      <img src="/images/logo2.png" alt="Logo" class="logo"/>
    <div class="title">
      <h1>Prawn Bhuna</h1>
    </div>
  </header>

  <img src="/images/prawn.jpg" />
  <img src="/images/3star.png"  />
    
    <div class="origin"> 

      <p>
        Prawn Bhuna is a popular dish in the Indian subcontinent, particularly in Bangladesh and India.
        The word 'bhuna' means to cook on low heat until the spices are well roasted and the dish is rich in flavour.
        The origins of Prawn Bhuna can be traced back to the Mughal era in India. The Mughal emperors were known for their love of rich and flavorful foods, 
        and their influence can be seen in many traditional Indian/Bengali dishes, including Prawn Bhuna.
    </p>

    </div>
    <div class="ingredients">
      <h3>For more information, please click on the ingredients</h3>
          <h2>Ingredients:</h2>
      <p>
          <ul>500g Prawns peeled and deveined</ul>

          <ul>2 finely chopped Onions</ul>
      
          <ul>2 finely chopped Tomatoes</ul>
      
          <ul>2-3 chopped <a href="green_chili">Green Chillies</a></ul>

          <ul>1 tsp <a href="ginger">Ginger Paste</a></ul>

          <ul>1 tsp <a href="garlic">Garlic Paste</a></ul>

          <ul>1 tsp <a href="cumin">Cumin Powder</a></ul>

          <ul>1 tsp <a href="coriander">Coriander Powder</a></ul>

          <ul>1/2 tsp <a href="turmeric">Turmeric Powder</a></ul>

          <ul>1 tsp <a href="red_chili_powder">Red Chili Powder</a></ul>

          <ul>Salt to taste</ul>

          <ul>2 tbsp Vegetable Oil</ul>

          <ul>Fresh Corriander to garnish</ul>

          <br>

      </p>

    </div>

    <div class="instructions">
      <h2>Instructions:</h2>
      
      <p>
        <ol type="1">
        <li>Heat the oil in a pan and add the chopped onions. Sauté until the onions turn golden brown. 
           </li>
           <br>

        <li>Add the ginger and garlic paste and fry for a minute.
            </li>
            <br>

        <li>Add the chopped tomatoes and green chillies and fry for 2-3 minutes until the tomatoes are soft.
            </li>
            <br>

        <li>Add the cumin, coriander, turmeric, red chilli powder and salt. Fry for a minute until the spices are well mixed.
          </li>
          <br>

        <li>Add the prawns and stir well so that the prawns are coated with the spices. Cook for 5-7 minutes until the prawns are cooked through.
          </li>
          <br>

        <li>Garnish with coriander leaves and serve hot with rice or naan.
          </li>
          <br>
      
      </ol><br>

    </p>
  </div>

  </body>
  <footer>
    
    <button class="save" role="button">Save</button>
  </footer>
</html>