<!doctype html>
<html>
  <head>
    <title>Ground Rice</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Ground Rice</h1>
  </div>

  <img src="/images/rice.jpg" />

    <div class="info"> 

    <p>
      Ground rice is a type of flour made from ground rice grains. It is commonly used in Indian, 
      Southeast Asian, and Caribbean cuisines to thicken sauces, soups, and desserts, 
      and is also used as a gluten-free alternative to wheat flour in baking.
      To make ground rice, rice grains are first cleaned, 
      then soaked in water for a period of time to soften them. The soaked rice is then drained and ground into a fine powder using a food processor or a flour mill. 
      The resulting flour is pale yellow in color and has a slightly gritty texture.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>