<!doctype html>
<html>
  <head>
    <title>Saffron</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Saffron</h1>
  </div>

  <img src="/images/saffron.jpg" />

    <div class="info"> 

    <p>
      Saffron is a spice derived from the stigma of the saffron crocus flower (Crocus sativus). 
      It is one of the most expensive spices in the world, due to the labor-intensive process of harvesting it.
      Saffron has a distinct and intense aroma and flavor, with a slightly sweet and floral taste.
      It is commonly used in cooking, particularly in Middle Eastern, Mediterranean, and Indian cuisines, to add flavor and color to dishes.
      Saffron is typically sold in thread-like strands, which are deep red in color. 
      These strands can be steeped in hot water or broth to infuse their flavor and color into a dish. 
      Saffron is used in a variety of dishes, such as paella, biryani, and risotto, and is also used to flavor and color desserts, such as ice cream and pastries.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>