<!doctype html>
<html>
  <head>
    <title>Shorshe Ilish</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <header>
      <img src="/images/logo2.png" alt="Logo" class="logo"/>
    <div class="title">
      <h1>Shorshe Ilish</h1>
    </div>
  </header>
    <img src="/images/ilish.jpg" />
    <img src="/images/2star.png" />
    
    <div class="origin"> 

      <p>
        The word 'shorshe' means mustard and 'ilish' refers to hilsa fish.
        Shorshe Ilish is a popular Bengali dish made with hilsa fish and a mustard-based gravy.
        Shorshe Ilish has been a part of Bengali cuisine for centuries and is considered to be a quintessential Bengali dish. 
        It is often served during important occasions such as weddings, festivals, and other celebrations.
    </p>

    </div>
    <div class="ingredients">
      <h3>For more information, please click on the ingredients</h3>
          <h2>Ingredients:</h2>
      <p>
          <ul>4-6 pieces <a href="hilsha">Hilsha (Ilish) Fish</a> </ul>

          <ul>1 tbsp <a href="blackmustard">Black Mustard Seeds</a></ul>
      
          <ul>1 tsp <a href="turmeric">Turmeric Powder</a></ul>
      
          <ul>1 tbsp <a href="mustard">Mustard Oil</a></ul>

          <ul>Salt to taste</ul>
      
          <ul>Water as needed</ul>

          <br>

      </p>


    </div>

    <div class="instructions">
      <h2>Instructions:</h2>
      
      <p>
        <ol type="1">
        <li>In a small bowl, mix black mustard seeds with 1/4 cup water and let it soak for 15-20 minutes.
          Grind the soaked mustard seeds with 2-3 green chillies into a smooth paste. 
           </li>
           <br>

        <li>Rub turmeric powder and salt onto the ilish pieces and set them aside for 10-15 minutes.
            </li>
            <br>

        <li>In a pan, heat mustard oil over medium heat.
          Add the ilish pieces and fry for 2-3 minutes on each side until they turn golden brown. 
          Remove the fish from the pan and keep them aside.
            </li>
            <br>

        <li>In the same pan, add the mustard paste and sauté for a minute until the raw smell goes away.
          </li>
          <br>

        <li>Add 1/2 cup water and salt to taste. Mix well and bring the mixture to a boil.
          </li>
          <br>

        <li>Add the fried ilish pieces to the pan and cover it with a lid. Cook for 5-7 minutes until the fish is fully cooked and the gravy thickens.
          Garnish with fresh coriander leaves and serve hot with steamed rice.
          </li>
      
      </ol><br>

    </p>
  </div>

  </body>
  <footer>
    
    <button class="save" role="button">Save</button>
  </footer>
</html>
