<!doctype html>
<html>
  <head>
    <title>Tamarind Chutney</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Tamarind Chutney</h1>
  </div>

  <img src="/images/tamarind.jpg" />

    <div class="info"> 

    <p>
      Tamarind chutney is a sweet and tangy sauce made from tamarind pulp, sugar, and spices. Tamarind is a fruit with a sour and tangy flavor, 
      and is a common ingredient in Indian and Southeast Asian cuisine.
      To make tamarind chutney, tamarind pulp is combined with sugar and water and cooked until the mixture thickens and becomes syrupy. 
      Spices like cumin, coriander, ginger, and chili powder are then added to the mixture, along with salt for seasoning. 
      The resulting chutney has a sweet and sour flavor with a slightly spicy and earthy undertone.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>