<!doctype html>
<html>
  <head>
    <title>Turmeric Powder</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <div class="title">
    <h1>Turmeric Powder</h1>
  </div>

  <img src="/images/turmeric.jpeg" />

    <div class="info"> 

    <p>
      Turmeric powder is a spice made from the ground root of the turmeric plant, which is native to India and Southeast Asia. 
      It has a bright yellow color and a warm, slightly bitter flavor, and is commonly used in cooking as a seasoning and coloring agent. 
      Turmeric powder is a key ingredient in many Indian, Middle Eastern, and Southeast Asian dishes, including curries, stews, soups, and marinades. 
      It is also used in many other cuisines around the world, and is sometimes used to add color to foods such as rice, sauces, and dressings. 
      In addition to its culinary uses, turmeric powder is also used in traditional medicine for its potential health benefits, which include reducing inflammation, 
      improving brain function, and reducing the risk of chronic diseases such as heart disease and cancer.
    </p>

    </div>

  </body>
  <footer>
    <button class="back" onclick="history.back()">Okay</button>
  </footer>
</html>
